.profile {
  height: 400px;
  width: 100%;
  display: inline-block;
  background-color: orange;
  background-image: url(http://www.transparenttextures.com/patterns/asfalt-light.png);
}

body {
  padding-top: 100px;
}

.avatar {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

header h2 {
  text-align: center;
  color: white;
}


/* Desktop Media */
@media only screen and (min-width: 1020px) {
  .profile{
    width: 90%;
    margin: 20px;
    display: inline-block;
  }
  .container {
    width: 90%;
    margin: 40px;
  }
  .parent-grid { 
    padding-top: 20px;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
} 

}