.navigation {
  background-color: #4056A1;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em 0 1em;
  position: fixed;
  top: 0; 
  width: 100%; 
}

.logo {
  font-family: Bungee;
  color: white;
}

.new-tweet {
  color: white;
}

.arrow-button {
  color: red;
  display: flex;
  justify-content: center;
}

.arrow-button {
  color: red;
  display: flex;
  justify-content: center;
}

