.container {
  padding: 30px;
  margin-top: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#tweet-button {
  font-family: Bungee;
  color: white;
  background-color: #4056a1;
  padding: 5px 15px 5px 15px;
}

#tweet-text {
  color: black;
  border: none;
  border-bottom: 4px solid darkgray;
  width: 100%;
  background: transparent;
  outline: none;
  font-size: 18px;
  resize: none;
}

#tweet-text::placeholder {
  color: black;
  font-size: 16px;
}

.counter-button {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.gray-color {
  color: gray;
}

.counter {
  font-family: Bungee;
}

.tweet-label {
  font-size: 25px;
}

.exeeded-char-limit {
  color: red;
}

.new-tweet {
  padding-bottom: 40px;
}

.tweets {
  padding: 40px;
  border: 5px;
  border-color: darkgray;
  border-style: solid;
}
.tweets:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
}

.logo-size {
  max-width: 50%;
  max-height: 25%;
}

.header {
  display: flex;
  justify-content: space-between;
}

.footer {
  display: flex;
  padding-top: 10px;
  justify-content: space-between;
  font-size: medium;
}

.user-tweet {
  border-bottom: 4px solid darkgray;
}

.hover-icon:hover {
  color: orange;
}
